.admin-dashboard {
    padding: 2rem;
    margin: 0 auto;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 columns, each taking 1 fraction (1fr) of the available space */
    gap: 5px;
}

.dashboard-card {
    background: #FFF2EB;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    margin-bottom: 2px;
}


.card-button {
     padding: 8px 20px;
    margin-top: 5px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    transition: var(--transition);
    cursor: pointer;
    border: none;
    font-size: 1rem;
    transform: translateY(-2px);
    box-shadow: 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: black;
}
    

.admin-card h3 {
    color: #2c3e50;
    margin-bottom: 0.5rem;
}

    .admin-card p {
        color: #7f8c8d;
        margin-bottom: 1.5rem;
    }

    .stat-item {
        width: 255px;
        padding: 2rem;
        margin: 0 auto;
        background: white;
        border-radius: 8px;
        padding: 1.5rem;
    }